/* Welcome! */

body {
    background-image: url('dark-halloween-1443867.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


time {
    font-weight: bold;
  }